.cartHead{display: grid;grid-template-columns: 20% 60% 20%;}
.heading{
    grid-column: 2/3;text-align: center;
}
.cartClose{display: flex;justify-content: flex-end;width: 3rem;height: 3rem;align-items: center;}
.scroll{
    height: 300px;
    overflow: auto;
}
.table{
    border-collapse: collapse;width: 100%;margin-top: 2rem;font-size: 1.2rem;padding: 0.4rem;
}

.headingRow{
    text-align: center; margin: 5px 15px; padding: 1rem;border-bottom: 3px solid black;
}
.tr{
    border-bottom: 1px solid black;padding: 0.5rem;
}
.Item{
    display: grid;grid-template-columns: 60% 40%;justify-content: center;align-items: center;
    padding: 0.5rem;
}
.Title{align-items: center;}
.Price{
    text-align: center; padding: 0.5rem;
}
.Quantity{
   text-align: center;
}
.img{width:80px}
.QuantityInput{width: 3.5rem;text-align: center;}
.removeButton{
        padding: 0.5rem;text-align: center;
}
.purchaseButton{
    display: flex;justify-content: center; margin: 3rem;
}
.amount{display: flex;justify-content: flex-end;margin-top: 0.2rem;margin-right: 1rem;}

@media screen and (max-width:568px) {
    .img{width:60px}
}