.navbar{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: rgba(240, 64, 64, 0.8);
}
.logo-name{
    grid-column: 1/2;display: grid; justify-content: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cartCircle {
    width: 24px;height: 24px;
    border-radius: 50%;background-color: red;
    display: flex;align-items: center;justify-content: center;
    color: white;font-weight: bold;
  }
.mobile-menu-list{display:none}
.menu-list{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3,33.33%);justify-content: space-evenly;
}
.list{width: 100%;margin: 0 10px;display: grid;justify-content: space-evenly}
.list a{
    text-decoration: none;color: white;width:100%;text-align: center;
}
.list a:hover{
    font-size: 1.1rem;
    background-color:white;color:black;padding: 3px 10%;width: 150%;
}
.button{
    grid-column: 2/3;
    display: grid; justify-content: center;
}
.toggle-menu{
    display:none;
    color: white;
    border: none;
    background: transparent;
    background-position: 0%
}

/* for mobile */
@media screen and (max-width:568px) {
    .navbar{
        display: grid;grid-template-columns: 40% 60%;
    }
    .button{display: grid;grid-template-columns: 75% 20% 5%;}
    .cart-button{display: grid;justify-content: center;}
    .toggle-menu{
        display: grid; justify-content: center;align-items: center;border: 1px solid white;
        border-radius: 5px;width: 2.5rem;
    }
    .menu-list{
        display: none;
    }
    .mobile-menu-list{
        background-color: white; font-size: 1.2rem;
        grid-row: 2/3;left: 0;top:0;
        grid-column: 1/3;
        width: 100%;height: 100%;
        justify-content: center;align-items: center;margin-top: 1rem;margin-bottom: 0;
        display: grid;grid-template-columns: 100%;justify-content: center;align-items:center;
        z-index: 10;
        animation: slideDown 0.3s ease-in-out forwards;
    }
    .list{
        margin-left: 0;padding: 1rem 0rem;
        border-bottom: 1px solid white;margin-bottom: 0;
    }
    .list a{color: black;}
    .list:hover{
        background-color: rgba(240, 64, 64, 0.8);;
    }
    .list:hover a{color:white;background:none;width: 100%;text-align: center;}
}

@keyframes slideDown {
    0% {
      opacity: 0;   
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }